<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
    <h1>Hello, this is your urls_show file</h1>
      <ul>
        <li><a href="<%=longURL%>"><%=longURL%> <%= shortURL %></a></li>
      </ul>
</body>
</html>