<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
</header>
    <h1>Hello, welcome to the urls directory</h1>
      <ul>
        <% for(key in urls) { %>

        <form method="POST" action="/urls/<%=key%>/delete" style="margin:50px;">
          <li>
          shortURL: <%= key %> -> longURL: <a href = "#"><%= urls[key] %></a> <input type="submit" value="Delete">
        </li>

        </form>
        <% }; %>
      </ul>
</body>
</html>