<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <h1>Hello, this is your urls_show file</h1>
      <ul>
        <li><a href="<%=longURL%>"><%= shortURL %></a></li>
      </ul>
      <form action="/urls/<%=shortURL%>" method="POST" style="margin:10px;">
      <label for="longURL">Enter a URL:</label>
      <input type="text" name="update" value="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form>
  </body>
</html>