<!--This is the page where the user inputs a link and converts it to a short URL -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <h1>Enter a long URL to give it a short URL</h1>
    <form action="/urls" method="POST" style="margin:50px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" value="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>